* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #C7D7F9;
}

body {
  height: 100vh;
  background-color: #161838;
  font-size: 20px;
}

header a{
	position: fixed;
	top: 20px;
	border: #161838 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	z-index: 10;
	left: 10px;
}


a {
  text-decoration: none;
}

.wrap {
  position: relative;
  width: 1440px;
  height: 100vh;
}

.centerbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1104px;
  height: 650px;
  display: flex;
}

.leftbox {
  width: 552px;
  height: 100%;
}

.leftbox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 오른쪽 영역 */
.rightbox {
  width: 552px;
  height: 100%;
  background: #9DB2F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로고 */
.starlog {
  font-size: 24px;
  color: #FAE8D3;
  display: block;
  text-align: center;
  padding: 80px 0 60px;
}
.starlog:hover {
    opacity: 70%;
}
/* 입력칸 */
.form-group {
  margin-bottom: 30px;
}

.form-group input {
  width: 400px;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  border: 0.5px solid #5C68B2;
  background: #9DB2F5;
  border-radius: 50px;
  box-sizing: border-box;
}

.form-group input::placeholder {
  color: #6d83c6;
}

.form-group input:hover,
.form-group input:focus {
  background: #B6C6FF;
  border: none;
  outline: none;
  color: #5C68B2;
}

/* 버튼 */
button {
  font-size: 20px;
  width: 400px;
  height: 60px;
  background: #5C68B2;
  border: none;
  outline: none;
  display: block;
  margin: 80px auto 0;
  border-radius: 20px;
  box-shadow:
    0 0 8px rgba(92, 104, 178, 0.5),
    0 0 20px rgba(92, 104, 178, 0.3);
}

button:hover {
  background: #202353;
}

/* 로그인 이동 */
.link-group {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-link {
  margin-left: 6px;
  color: #C7D7F9;
  text-decoration: underline;
}

.signup-link:hover {
  color: #9DB2F5;
}
